{{#each books}}
    <div style="border-bottom: 1px solid black;">
        <h3><span>#{{this.id}}</span>titulo: {{this.title}}</h2>
        <p>quantidade: {{this.pageqty}}</p>
        
    </div>
{{/each}}