<h1>olá {{user.name}}</h1>
<p>Você tem {{user.age}} anos</p>


{{#if auth}}
    <p>você está autenticado, clique <a href="/dashboard">aqui</a> para ir para dashboard</p>
{{else}}
    <p>Você não está autenticado tente novamente</p>
{{/if}}