{{#with task}}
    <h1>Update a task</h1>
    <form action="/tasks/update/{{id}}" method="POST">
      <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="O que você vai fazer?" value="{{title}}">
      </div>
      <div class="form-control">
        <label for="description">Descrição:</label>
        <textarea type="text" name="description" placeholder="O que você vai fazer?">{{description}}</textarea>
      </div>
      <input type="submit" value="Update">
    </form>

{{/with }}