<h1>Hello handlebars!</h1>
<p>My name is : {{nome}}</p>
{{#if auth}}
    <span>i'm authenticated</span>
    <a href="/dashboard">go to dahsboard</a>
{{else}}
    <span>i'm not authenticated</span>
{{/if}}
