<h2>Insert a new book:</h2>
<form action="/books/insert" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
    <label for="page_quant">Quantidade de páginas</label>
    <input type="number" id="page_quant" name="page_quant">
    <input type="submit" value="Submit">
</form>
<a href="/books">View books</a>
