*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    border-bottom: 0.6px solid orangered;
    background-color: #ccc;
}

main{
    width: 100%;
    
}

h2{
    margin: 0 auto ;
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3px 2%;
    background-color: #ccc;
    font-size: 12px;
    position: fixed;
    bottom: 0;
}